body { 
	color:#555555;
	font-family:"Arial", "Tahoma", "Verdana", "Trebuchet MS", sans-serif;
	background-color: white;
	}
	
   
   input[type=submit] {
   padding:5px 15px; 
   background:#ccc; 
   border:0 none;
   cursor:pointer;
   -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
   }
   
   table td{
   background-color:#FFFFFF;
   width:25%;
   display:table-cell;
   vertical-align:top;
   text-align: center;
   vertical-align: text-top;
   -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
   }
 
.blue {background-color:white;
   border-width:1px;border-color:white;
   border-style: none none solid solid; width:100%;
   padding-top:1px;padding-left:2px;
   padding-right:2px;padding-bottom:2px;
   top:25px;
   left:50%;} 
  
.green {background-color:#909090;
	color:#909090;
	padding:20px;}
	

h2 {color:#909090;}
.yellow {color:white;}

a 	{font-family:Ebrima;
		font-size:15pt;
		color:#CCCC00;
		text-align:center;}
.red {text-align: center;
	float:center;
	margin-left:auto;
	margin-right:auto;}
